<div class="row content-top-offset">

  <div class="twelve columns">

    <div class="row">

      <div class="sides-offset">

        <h2>Sign in!</h2>

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

        <div class="row">
          <div><%= f.label :email %><br />
          <%= f.email_field :email, :placeholder => :Email %></div>
        </div>

        <div class="row">
          <div><%= f.label :password %>
          <%= f.password_field :password, :placeholder => :Password %></div>
        </div>

          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>

          <div><%= f.submit "Sign in", :class => "button nice green radius" %></div>
        <% end %>

        <%= render "links" %>
    
      </div>
    </div>
  </div>
</div>
