<% title "Forgot your password?" %>

<div class="ui-body ui-body-c">

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div data-role="fieldcontain"><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div data-role="fieldcontain"><%= f.submit "Send Instructions" %></div>
<% end %>


</div>