<div class="row">

  <div class="twelve columns">

    <div class="row">

      <div class="sides-offset">
        
        <hgroup class="center-text">
          <h1 class="logo"><%= image_tag("sarger-logo.png", :alt => "Sarger") %></h1>
          <h2>Overcome approach anxiety!</h2>
        </hgroup>

        <div class="panel auth-stuff">

          <% if !in? %>
            <p><%= link_to "Sign In", "users/sign_in" %></p>
            <p><%= link_to "Enter As Guest", "temps/sign_up" %></p>
          <% end %>

          <% if temp_signed_in? %>
            <p>Welcome, <%= current_temp.name %> (signed in as a guest)</p>
          <% end %>

          <% if temp_signed_in? %>
            <p><%= link_to "Log out", destroy_user_session_path, :method => :delete %></p>
          <% end %>

        </div> <!-- /sides-offset -->  
        
      </div>

    </div> <!-- /row -->

  </div>

  <footer class="main-footer">
    <div class="row">
      <% if in? %>
        <%= link_to "Start the Game", "/challenges", :class => "button nice green" %>
      <% end %>
    </div>
  </footer>

</div>