<div style="margin-left:20px;background:#EEEEEE;">
  <%= challenge.id %><br>
  <%= challenge.title %><br>
<%=  challenge.description %>
  <!-- compleate?? -->
  COMPLETE: <%= render :partial => "complete", :locals => {:ch => challenge} %>


  <% if current_guy.complete?(challenge) %>
    Mission Compleated!!! Yahoo!!
  <% else %>

  <% end %>

  <%= link_to 'Show', challenge %>

  <% if admin_signed_in?  %>
      <%= link_to 'Edit', edit_challenge_path(challenge) %>
      <%= link_to 'Destroy', challenge, confirm: 'Are you sure?', method: :delete %>
  <% end %>



<% challenge.challenges.each do |c| %>

      <div style="margin-left:20px;background:#EEEEEE;">
        <%= c.id %><br>
        <%= c.title %><br>
        <%=  c.description %>
        COMPLETE: <%= render :partial => "complete", :locals => {:ch => c} %>

      </div>

<% end %>



</div>