<div class="title-a sides-offset">
  <h3><%= challenge.title %></h3>
</div><!-- .title-a -->

<ul class="challenge-list">
<li>

  <p class="desc"><%=  challenge.description %></p>
  <!-- complete? -->
  <div class="status">
    <%= render :partial => "complete", :locals => {:ch => challenge} %>

    <% if current_guy.complete?(challenge) %>
    Mission Completed!!! Yahoo!!
    <% else %>

    <% end %>
  </div>

  <% if admin_signed_in?  %>
      <%= link_to 'Edit', edit_challenge_path(challenge) %>
      <%= link_to 'Destroy', challenge, confirm: 'Are you sure?', method: :delete %>
  <% end %>

</li>

<% num = 0 %>
<% challenge.challenges.each do |c| %>

<li style="padding-left:20px;">

  <div class="task-number">
    <% num += 1 %>
    <%= num %>
  </div><!-- .task-number -->

      <div style="margin-left:20px">
        Subtasks: <%= c.challenges.length  %>,
        <!-- <%= c.id %><br> -->
        <h4><%= c.title %></h4>
        <p class="desc"><%=  c.description %></p>
        COMPLETE:
        <%= render :partial => "complete", :locals => {:ch => c} %>
        
        <% if c.challenges.length > 0 %> <!-- see if there any children? if no -> we dont need to show the link to the next level -->

        <%= link_to "Showwww", c %>

        <% end %>
      </div>

<%  #render :partial => "show", :locals => {:challenge => c} %>

</li>

<% end %>

</ul>
