<ul class="challenge-list">
<li>
  <h4><%= challenge.title %></h4>

<%=  challenge.description %>
  <!-- compleate?? -->
  <%= render :partial => "complete", :locals => {:ch => challenge} %>


  <% if current_user.complete?(challenge) %>
    Mission Completed!!! Yahoo!!
  <% else %>

  <% end %>

  <%= link_to 'Show', challenge %>

  <% if admin_signed_in?  %>
      <%= link_to 'Edit', edit_challenge_path(challenge) %>
      <%= link_to 'Destroy', challenge, confirm: 'Are you sure?', method: :delete %>
  <% end %>

</li>


<% challenge.challenges.each do |c| %>

<li style="margin-left:60px;">

<%=  render :partial => "show", :locals => {:challenge => c} %>

</li>

<% end %>

</ul>