<div style="margin-left:20px;background:#EEEEEE;">
  <p><%= challenge.title %> (ID: <%= challenge.id %>)</p>
  
<%=  challenge.description %>
  <!-- compleate?? -->
  COMPLETE: <%= render :partial => "complete", :locals => {:ch => challenge} %>

  <%= link_to 'Show', challenge %>

  <% if admin_signed_in?  %>
      <%= link_to 'Edit', edit_challenge_path(challenge) %>
      <%= link_to 'Destroy', challenge, confirm: 'Are you sure?', method: :delete %>
  <% end %>



<% challenge.challenges.each do |c| %>

<%=  render :partial => "tree", :locals => {:challenge => c} %>

<% end %>



</div>